.login-app-header {
    background-color: #263238;
    height: 36px;
    padding: 8px 32px 8px 16px;
}

.app-logo-text{
    color: #fff;
    font-size: 18px;
    margin-top: 0.5%;
}

.login-button {
    float: right;
}

.login-card{
    text-align: left;
    width: 30%;
    margin-top: 1%;
    margin-left: 33%;
    margin-right: 33%;
    padding-left: 2%;
}

.bookshow-button {
    float: right;
    margin-right: 8px;
}

@keyframes app-logo-spin {
    from { transform: scaleX(-1); }
}

.tabs {
    margin-bottom: 20px;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
}